<% @local_authority_registers.each do |la| %>
<% register_name = la.get_register_definition.item.value['register'] %>
<table>
<thead>
<th class="heading-large" colspan="1"><%=register_name%></th> 
<%stats=register_bin_stats(la, @image_path_matched_to_name)%>
<th class="heading-medium" colspan="3">Local authorities: <%=stats[:register_count]%>, Bins: <%=stats[:has_bin_count] %>, Coverage: <%=stats[:percentage_complete]%></td>
<tr>
<th>Curie</th>
<th>Name</th>
<th>Has Bin?</th>
<th>Bin Pic</th>
</tr>
</thead>
<tbody>
  <% la.get_records.sort_by{|r| r.entry.key}.each do |r| %>
  <% name = r.item.value['name'] %>
  <% has_bin = has_bin?(@image_path_matched_to_name, name) %>
  <% img_tag = image_tag(image_path(@image_path_matched_to_name, name), height: '40', width: '30') if has_bin %>
<tr>
    <td><%=register_name%>:<%=r.entry.key%></td>
    <td><%=name%></td>
    <td><%=has_bin ? '✅': '❌'%></td>
    <td><%=link_to_if has_bin, img_tag, image_path(@image_path_matched_to_name, name), target: '_blank' %></td>
</tr>
</tbody>
<% end%>
<% end %>
</table>